NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/express_boilerplate
MONGODB_URI=mongodb://localhost:27017/express_boilerplate
JWT_SECRET=supersecret

# Resend Email Configuration
RESEND_API_KEY=re_your_api_key_here
RESEND_FROM=onboarding@resend.dev
